.navbar-lg{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #fffffff2;
    font-weight: 600;
    color: #222222;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
    font-family: Poppins;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
}
.navbar-md{
    display: none;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-lg{
    height: 45px;
    padding: 10px 40px;
    vertical-align: middle;
}
.navbar-lg .link-lg{
    margin-right: auto;
    display: flex;
}
.link-lg .link-item-lg{
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    margin: 0px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* height: 100%; */
}
.link-lg .link-item-lg:hover{
    transition-delay: 0.8s;
    transition: all ease-in;
    color: #000000aa;
}
.left-nv{
    width: 60px;
    display: flex;
    align-items: center;
}

.bag-icon-btn{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin-right: 5px;
}
.cart-count{
    position: absolute;
    background-color: #c53d3d;
    border-radius: 50%;
    color: #fff;
    padding: 4px 5px;
    height: 10px;
    font-size: 8px;
    top: -4px;
    right: 6px;
    font-weight: 700;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}
.shopping-logo{
    height: 25px;
}


.search-box-container{
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-width: 500px;
    padding: 5px;
    border-bottom: 1px solid #CCD4D4;
}
.search-box{
    border: none;
    padding: 0 5px;
    font-size: 14px;
    height: 25px;
    width: 100%;
    outline: none;
    font-family: Poppins;
}




.items-container{
    display: flex;
    margin: 0 40px;
    align-items: center;
}
.item{
    font-size: 18px;
    padding: 15px;
    color: #212121;
    text-decoration: none;
}

.mobile-search{
    display: none;
}
.mobile-nav-item{
    display: none;
}

.fa-icon{
    font-size: 25px;
    color: #000000;
}
.menu-list{
    display: none;
}

@media(max-width:1000px){
    .navbar-md{
        height: 65px;
        display: flex;
        align-items: center;
        background-color: #fffffff2;
        font-weight: 600;
        color: #222222;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 3;
        font-family: Poppins;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    }
    .navbar-lg{
        display: none;
    }
    .logo-container{
        margin: auto;
    }
    .logo-md{
        height: 50px;
        margin: auto;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        font-size: 30px;
        padding: 10px;
        width: 50px;
    }


    .menu-icon{
        height: 40px;
        vertical-align: middle;
    }
    .items-container{
        display: none;
    }
    .search-box-container{
        display: none;
    }
    .menu-list{
        display: flex;
        background-color: #fbfbfbed;
        flex-direction: column;
        outline: none;
        position: absolute;
        left: -100%;
        top: 65px;
        width: 100%;
        transition: all 0.5s ease-in;
        z-index: 2;
    }
    .menu-item{
        padding: 15px 30px;
        border-bottom: 1px solid #f6f6f6;
        color: #212121;
        text-decoration: none;
    }
    .m-s-container{
        display: flex;
        align-items: center;
        margin: 10px;
        border-bottom: 1px solid #CCD4D4 ;
    }
    .mobile-search{
        display: flex;
        padding: 10px;
        border: none;
        font-family: Poppins;
        color: #222222;
        outline: none;
        transition: all 0.5s ease-in;
        z-index: 2;
        width: 100%;
    }
    .menu-list.show{
        transform: translateX(100%);
        transition: all 0.3s ease-in;
        position: fixed;
    }
}